<%= form_for(@academic) do |f| %>
  <% if @academic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@academic.errors.count, "error") %> prohibited this academic from being saved:</h2>

      <ul>
      <% @academic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="block">
    <div class="field">
      <%= f.label :course %><br>
      <%= f.text_field :course %>
    </div>
    <div class="field">
      <%= f.label :subject %><br>
      <%= f.collection_select :subject, Academic::SUBJECT, :to_s, :humanize %>
    </div>
    <div class="actions academic_submit">
      <%= f.submit %>
    </div>
  </div>
<% end %>
