
<table class="admin-table">
  <thead>
    <tr>
      <th>Used</th>
      <th>Subject</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @academics.each do |academic| %>
      <tr>
        <td><%= SchoolAcademic.where(academic_id: academic.id).count%> times</td>
        <td><%= academic.subject.humanize %></td>
        <td><%= academic.course %></td>
        <td><%= link_to 'Edit', edit_academic_path(academic) %></td>
        <td><%= link_to 'Destroy', academic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Academic', new_academic_path %>
