<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @academic.subject %>
</p>

<p>
  <strong>Class:</strong>
  <%= @academic.class %>
</p>

<%= link_to 'Edit', edit_academic_path(@academic) %> |
<%= link_to 'Back', academics_path %>
