<%= form_for(@school_recreation) do |f| %>
  <% if @school_recreation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_recreation.errors.count, "error") %> prohibited this school_recreation from being saved:</h2>

      <ul>
      <% @school_recreation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="block">
      <div class="field">
        <%= f.label :recreation_id %>
        <%= f.collection_select :recreation_id, @recreations, :id, :activity %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
      <%= hidden_field_tag :school_id, @school.id %>
    </div>

<% end %>
