<%= form_for(@recreation) do |f| %>
  <% if @recreation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recreation.errors.count, "error") %> prohibited this recreation from being saved:</h2>

      <ul>
      <% @recreation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="block">
      <div class="field">
        <%= f.label :recreation_type %><br>
        <%= f.text_field :recreation_type %>
      </div>
      <div class="field">
        <%= f.label :activity %><br>
        <%= f.text_field :activity %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
 
<% end %>
