
<table class="admin-table">
  <thead>
    <tr>
      <th>Used</th>
      <th>Type</th>
      <th>Activity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recreations.each do |recreation| %>
      <tr>
        <td><%= SchoolRecreation.where(recreation_id: recreation.id).count%> times</td>
        <td><%= recreation.recreation_type %></td>
        <td><%= recreation.activity %></td>
        <td><%= link_to 'Edit', edit_recreation_path(recreation) %></td>
        <td><% if SchoolRecreation.where(recreation_id: recreation.id).count == 0 %>
          <%= link_to 'Destroy', recreation, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


