<%= form_for(@campu) do |f| %>
  <% if @campu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campu.errors.count, "error") %> prohibited this campu from being saved:</h2>

      <ul>
      <% @campu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="block">  
    <div class="field">
      <%= f.label :feature %><br>
      <%= f.text_field :feature %>
    </div>
    <div class="field">
      <%= f.label :type %><br>
      <%= f.collection_select :campu_type, Campu::TYPE, :to_s, :humanize %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
