

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Feature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campus.each do |campu| %>
      <tr>
        <td><%= campu.campu_type %></td>
        <td><%= campu.feature %></td>
        <td><%= link_to 'Show', campu %></td>
        <td><%= link_to 'Edit', edit_campu_path(campu) %></td>
        <td><%= link_to 'Destroy', campu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campu', new_campu_path %>
