<h1 class="admin-title">Hello, I'm panel</h1>

<hr>
<h2>Add A new School</h2>
<div class="block">
  <button class="compare-btn"><%= link_to "New School", new_school_path %></button> 
</div>
<hr>
<h2 class="admin-title">Adding Activity, Courses, and Features</h2>
<hr>

<h2>Add new Academic Course</h2>

<%= render 'academics/form' %>

<h3 id="academics" class="list">List of Academic Courses</h3>
<div id="academics-list" class="hidden">
  <%= render 'academics/index' %>
</div>

<hr>

<h2>Add new Recreation Activity</h2>

<%= render 'recreations/form' %>

<h3 id="recreations" class="list">List of Recreation Activities</h3>
<div id="recreations-list" class="hidden">
  <%= render 'recreations/index' %>
</div>

<hr>

<h2>Add new Campus Feature</h2>

<%= render 'campus/form' %>

<h3 id="campus" class="list">List of Campus Features</h3>
<div id="campus-list" class="hidden">
  <%= render 'campus/index' %>
</div>

<hr>
<h2 class="admin-title">Adding Types</h2>
<hr>

<h2>Add New Academic Type</h2>

<%= render 'academic_types/form' %>

<h3 id="academicstype" class="list">List of Academic Types</h3>
<div id="academicstype-list" class="hidden">
  <%= render 'academic_types/index' %>
</div>

<hr>

<h2>Add New Campus Type</h2>

<%= render 'campu_types/form' %>

<h3 id="campustype" class="list">List of Campus Types</h3>
<div id="campustype-list" class="hidden">
  <%= render 'campu_types/index' %>
</div>
<hr>

<h2>Add New Recreation Type</h2>

<%= render 'recreation_types/form' %>

<h3 id="recreationstype" class="list">List of Recreation Types</h3>
<div id="recreationstype-list" class="hidden">
  <%= render 'recreation_types/index' %>
</div>
<hr>
<h2 class="admin-title">Adding Locations</h2>
<hr>

<h2>Add new City</h2>

<%= render 'cities/form' %>

<h3 id="cities" class="list">List of Cities</h3>
<div id="cities-list" class="hidden">
  <%= render 'cities/index' %>
</div>

<hr>

<h2>Add new province</h2>

<%= render 'provinces/form' %>

<h3 id="provinces" class="list">List of provinces</h3>
<div id="provinces-list" class="hidden">
  <%= render 'provinces/index' %>
</div>

<hr>
<%= link_to "Back", :back %>


<script>

  $('#academics').on('click', function(){
    $('#academics-list').toggleClass('hidden')
  });
  $('#academicstype').on('click', function(){
    $('#academicstype-list').toggleClass('hidden')
  });
  $('#campustype').on('click', function(){
    $('#campustype-list').toggleClass('hidden')
  });
  $('#recreationstype').on('click', function(){
    $('#recreationstype-list').toggleClass('hidden')
  });
  $('#recreations').on('click', function(){
    $('#recreations-list').toggleClass('hidden')
  });

  $('#campus').on('click', function(){
    $('#campus-list').toggleClass('hidden')
  });
  $('#cities').on('click', function(){
    $('#cities-list').toggleClass('hidden')
  });
  $('#provinces').on('click', function(){
    $('#provinces-list').toggleClass('hidden')
  });

  $('.academic_submit :submit').on('click', function(e){
    if($('#academic_course').val() === "" ){
      e.preventDefault();
      alert('Please enter a course')
    }
  });
  $('.academictype_submit :submit').on('click', function(e){
    if($('#academic_type_name').val() === "" ){
      e.preventDefault();
      alert('Please enter an academic type')
    }
  });
    $('.campu_submit :submit').on('click', function(e){
    if($('#campu_feature').val() === "" ){
      e.preventDefault();
      alert('Please enter a feature')
    }
  });
    $('.camputype_submit :submit').on('click', function(e){
      if($('#campu_type_name').val() === "" ){
        e.preventDefault();
        alert('Please enter an campus type')
      }
    });
    $('.recreation_submit :submit').on('click', function(e){
      if($('#recreation_activity').val() === "" ){
        e.preventDefault();
        alert('Please enter an activity')
      }
    });
    $('.recreationtype_submit :submit').on('click', function(e){
      if($('#recreation_type_name').val() === "" ){
        e.preventDefault();
        alert('Please enter an recreation type')
      }
    });
    $('.city_submit :submit').on('click', function(e){
      if($('#city_name').val() === "" ){
        e.preventDefault();
        alert('Please enter a city')
      }
    });
    $('.province_submit :submit').on('click', function(e){
      if($('#province_name').val() === "" ){
        e.preventDefault();
        alert('Please enter a province')
      }
    });

  
</script>