<p id="notice"><%= notice %></p>

<h1>Listing Recreations Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recreations_types.each do |recreations_type| %>
      <tr>
        <td><%= recreations_type.name %></td>
        <td><%= link_to 'Show', recreations_type %></td>
        <td><%= link_to 'Edit', edit_recreations_type_path(recreations_type) %></td>
        <td><%= link_to 'Destroy', recreations_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recreations type', new_recreations_type_path %>
