<div class="compare-modal hidden">

	<div class="container" id="compare-list">
		<p class="close">close</p>
		<% if @compared.present? %>

		<h1>Compare Schools</h1>
		<% @compared.each do |school| %>
			<% @school = @schools.find(school) %>
		<div class="block block--third">
			<h1><%= @school.name %><h1>

			<p><%= @school.street_address %></p>
			<p><%= @school.city.name %>, <%= @school.city.province.name%>, <%= @school.postal_code %></p>

			<%= link_to @school.website_url, "http://#{@school.website_url}" %>

			 <%= @school.contact_email %>
			<p> <%= @school.description %></p>


			 <p>
			  <strong>Girls boarding:</strong>
			  <%= @school.girls_boarding %>
			</p>

			<p>
			  <strong>Girls day:</strong>
			  <%= @school.girls_day %>
			</p>

			<p>
			  <strong>Boys boarding:</strong>
			  <%= @school.boys_boarding %>
			</p>

			<p>
			  <strong>Boys day:</strong>
			  <%= @school.boys_day %>
			</p>

			<p>
			  <strong>Campus size:</strong>
			  <%= @school.campus_size %>
			</p>

			<p>
			  <strong>Year founded:</strong>
			  <%= @school.year_founded %>
			</p>

			<p>
			  <strong>Average class size:</strong>
			  <%= @school.average_class_size %>
			</p>

			<p>
			  <strong>Student teacher ratio:</strong>
			  <%= @school.student_teacher_ratio %>
			</p>

			<p>
			  <strong>Dress code:</strong>
			  <%= @school.dress_code %>
			</p>



			<p>
			  <strong>Seven day tuition:</strong>
			  <%= number_to_currency(@school.seven_day_tuition)  %>
			</p>

			<p>
			  <strong>Five day tuition:</strong>
			  <%= number_to_currency(@school.five_day_tuition) %>
			</p>

			<p>
			  <strong>Boarding grades:</strong>
			  <%= @school.boarding_grades %>
			</p>

			<p>
			  <strong>Day grades:</strong>
			  <%= @school.day_grades %>
			</p>

			<p>
			  <strong>Day tuition:</strong>
			  <%= number_to_currency(@school.day_tuition) %>
			</p>

			<p>
			  <strong>Accreditations:</strong>
			  <%= @school.accreditations %>
			</p>

			<p>
			  <strong>Advanced placement:</strong>
			  <%= @school.advanced_placement %>
			</p>

			<p>
			  <strong>International bac:</strong>
			  <%= @school.international_bac %>
			</p>

			<p>
			  <strong>Payment plans:</strong>
			  <%= @school.payment_plans %>
			</p>

			<p>
			  <strong>Need based aid:</strong>
			  <%= @school.need_based_aid %>
			</p>

			<p>
			  <strong>Merit scholarships:</strong>
			  <%= @school.merit_scholarships %>
			</p>
		</div>	
	<% end %>
	<% end %>
	</div>	
</div>

