<div id="school-form">
<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <section class="school__quick-info block">
      <h2>Quick Info</h2>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field field--half">
        <%= f.label :logo_image_url %>
        <%= f.text_field :logo_image_url %>
      </div><!--
      *--><div class="field field--half last">
        <%= f.label :featured_image_url %>
        <%= f.text_field :featured_image_url %>
      </div>
      <div class="field">
        <%= f.label :video_url %>
        <%= f.text_field :video_url %>
      </div>
      <div class="field field--third">
        <%= f.label :street_address %>
        <%= f.text_field :street_address %>
      </div><!--

      *--><div class="field field--third">
        <%= f.label :city %>
        <%= f.collection_select :city_id, City.all, :id, :name %>
      </div><!--
      *--><div class="field field--third last">
        <%= f.label :postal_code %>
        <%= f.text_field :postal_code %>
      </div>
      <div class="field ">
        <%= f.label :website_url %>
        <%= f.text_field :website_url %>
      </div>
      <div class="field field--half">
        <%= f.label :contact_name %>
        <%= f.text_field :contact_name %>
      </div><!--
      *--><div class="field field--half last">
        <%= f.label :contact_email %>
        <%= f.text_field :contact_email %>
      </div>
      <div class="field field--third">
        <%= f.label :student_body %>
        <%= f.collection_select :student_body, School::STUDENT_BODY, :to_s, :humanize %>
      </div><!--
      *--><div class="field field--third">
        <%= f.label :student_body_size %>
        <%= f.text_field :student_body_size %>
      </div><!--
      *--><div class="field field--third last">
        <%= f.label :religion %>
        <%= f.text_field :religion %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <%= f.label :meta_description %>
        <%= f.text_field :meta_description %>
      </div>
    </section>
    <section class="school__at-a-glance block">
      <h2>Additonal School Information</h2>
      <div class="field">
        <%= f.label :year_founded %>
        <%= f.number_field :year_founded %>
      </div>
      <div class="field field--half">
        <%= f.label :girls_boarding %>
        <%= f.number_field :girls_boarding %>
      </div><!--
      *--><div class="field field--half last">
        <%= f.label :girls_day %>
        <%= f.number_field :girls_day %>
      </div>
      <div class="field field--half">
        <%= f.label :boys_boarding %>
        <%= f.number_field :boys_boarding %>
      </div><!--
      *--><div class="field field--half last">
        <%= f.label :boys_day %>
        <%= f.number_field :boys_day %>
      </div>
      <div class="field field--third">
        <%= f.label :campus_size %>
        <%= f.number_field :campus_size %>
      </div><!--
      *--><div class="field field--third">
        <%= f.label :average_class_size %>
        <%= f.number_field :average_class_size %>
      </div><!--
      *--><div class="field field--third last">
        <%= f.label :student_teacher_ratio %>
        <%= f.number_field :student_teacher_ratio %>
      </div>
      <div class="field field--third">
        <%= f.label :domestic_seven_day_tuition %>
        <%= f.text_field :seven_day_tuition %>
      </div><!--
      *--><div class="field field--third">
        <%= f.label :international_seven_day_tuition %>
        <%= f.text_field :international_seven_day_tuition %>
      </div><!--
      *--><div class="field field--third">
        <%= f.label :five_day_tuition %>
        <%= f.text_field :five_day_tuition %>
      </div><!--
      *--><div class="field field--third last">
        <%= f.label :day_tuition %>
        <%= f.text_field :day_tuition %>
      </div>
      <div class="field field--half">
        <%= f.label :boarding_grades %>
        <%= f.text_field :boarding_grades %>
      </div><!--
      *--><div class="field field--half last">
        <%= f.label :day_grades %>
        <%= f.text_field :day_grades %>
      </div>
      <div class="field">
        <%= f.label :accreditations %>
        <%= f.text_field :accreditations %>
      </div>
      <div class="field">
        <%= f.check_box :pre_grade_nine_boarding %>
        <%= f.label :pre_grade_nine_boarding %>
      </div>
      <div class="field">
        <%= f.check_box :dress_code %>
        <%= f.label :dress_code %>
      </div>
      <div class="field">
        <%= f.check_box :advanced_placement %>
        <%= f.label :advanced_placement %>
      </div>
      <div class="field">
        <%= f.check_box :international_bac %>
        <%= f.label :international_bac %>
      </div>
      <div class="field">
        <%= f.check_box :esl%>
        <%= f.label :esl %>
      </div>
      <div class="field">
        <%= f.check_box :payment_plans %>
        <%= f.label :payment_plans %>
      </div>
      <div class="field">
        <%= f.check_box :need_based_aid %>
        <%= f.label :need_based_aid %>
      </div>
      <div class="field">
        <%= f.check_box :merit_scholarships %>
        <%= f.label :merit_scholarships %>
      </div>
      <div class="field">
        <%= f.label :summer_programs%>
        <%= f.text_area :summer_programs%>
      </div>
    </section>

    <div class="block">
      <h2>Academics</h2>
      <%= f.collection_check_boxes :academic_ids, Academic.all.order(:course), :id, :course %>
        <div class="expand-details">
        <p>Preview</p>
        <% if @school.amenity_type(@school, "academic").present? %>
              <h3>Academics <span class="expand-academics">&#9660;</span></h3>
              <ul class="academics-expand expanded hidden">
              <% @school.amenity_type(@school, "academic").each do |a|%>
                  <li class="expand-title"> <h4><%= a.name %></h4> </li>
                  <ul>
                    <% @school.amenity_detail_list(@school, "academics", a.id).each do |detail|%>
                    <li><%= detail.academic.course %></li>
                    <% end %>
                  </ul>
            <% end %>
            </ul>
            <% end %>
          </div>
    </div>

    <div class="block">
      <h2>Recreation</h2>
      <%= f.collection_check_boxes :recreation_ids, Recreation.all.order(:activity), :id, :activity %>
      <div class="expand-details">
        <p>Preview</p>
       <% if @school.amenity_type(@school, "recreation").present? %>
          <h3>Recreations <span class="expand-recreations">&#9660;</span></h3>
          <ul class="recreations-expand expanded hidden">
          <% @school.amenity_type(@school, "recreation").each do |a|%>
              <li class="expand-title"> <h4><%= a.name %></h4> </li>
              <ul>
                <% @school.amenity_detail_list(@school, "recreations", a.id).each do |detail|%>
                <li><%= detail.recreation.activity %></li>
                <% end %>
              </ul>
           <% end %>
          </ul>
          <% end %>
        </div>
    </div>

    <div class="block">
      <h2>Campus</h2>
      <%= f.collection_check_boxes :campu_ids, Campu.all.order(:feature), :id, :feature %>
      <div class="expand-details">
        <p>Preview</p>
        <% if @school.amenity_type(@school, "campu").present? %>
          <h3>Campus <span class="expand-campus">&#9660;</span></h3>
          <ul class="campus-expand expanded hidden">
          <% @school.amenity_type(@school, "campu").each do |a|%>
              <li class="expand-title"> <h4><%= a.name %></h4> </li>
              <ul>
                <% @school.amenity_detail_list(@school, "campus", a.id).each do |detail|%>
                <li><%= detail.campu.feature %></li>
                <% end %>
              </ul>
        <% end %>
        </ul>
        <% end %>
      </div>
    </div>


    <div class="actions button">
      <%= f.submit %>
    </div>

<% end %>

</div>

