<div>
	<h1>Editing School</h1>
	<%= render 'form' %>
	<hr>

	

	<hr>
	 <div class="expand-details">
	  <h2>Academics</h2>
	  <%= render 'school_academics/form' %>
	<% if @school.amenity_type(@school, "academic").present? %>
        <h3>Academics <span class="expand-academics">&#9660;</span></h3>
        <ul class="academics-expand expanded hidden">
        <% @school.amenity_type(@school, "academic").each do |a|%>
            <li class="expand-title"> <h4><%= a.name %></h4> </li>
            <ul>
              <% @school.amenity_detail_list(@school, "academics", a.id).each do |detail|%>
              <li><%= detail.academic.course %> | <%= link_to 'Delete', detail, method: :delete, data: { confirm: 'Are you sure?' }%></li>
              <% end %>
            </ul>
      <% end %>
      </ul>
      <% end %>
		     

	  <hr>
	  <h2>Recreations</h2>
	  <%= render 'school_recreations/form' %>
	 <% if @school.amenity_type(@school, "recreation").present? %>
		  <h3>Recreations <span class="expand-recreations">&#9660;</span></h3>
		  <ul class="recreations-expand expanded hidden">
		  <% @school.amenity_type(@school, "recreation").each do |a|%>
		      <li class="expand-title"> <h4><%= a.name %></h4> </li>
		      <ul>
		        <% @school.amenity_detail_list(@school, "recreations", a.id).each do |detail|%>
		        <li><%= detail.recreation.activity %> | <%= link_to 'Delete', detail, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		        <% end %>
		      </ul>
		   <% end %>
		  </ul>
		  <% end %>


	  <hr>

	  <h2>Campus</h2>
	  <%= render 'school_campus/form' %>
	<% if @school.amenity_type(@school, "campu").present? %>
	  <h3>Campus <span class="expand-campus">&#9660;</span></h3>
	  <ul class="campus-expand expanded hidden">
	  <% @school.amenity_type(@school, "campu").each do |a|%>
	      <li class="expand-title"> <h4><%= a.name %></h4> </li>
	      <ul>
	        <% @school.amenity_detail_list(@school, "campus", a.id).each do |detail|%>
	        <li><%= detail.campu.feature %>| <%= link_to 'Delete', detail, method: :delete, data: { confirm: 'Are you sure?' }%></li>
	        <% end %>
	      </ul>
	<% end %>
	</ul>
	<% end %>
	</div>


	<%= link_to 'Show', @school %> |
	<%= link_to 'Back', schools_path %>
</div>		


<script>
  $(document).on('ready page:load', function(){
    function expand(section){
      $('.'+ section + '-expand').toggleClass('hidden')
      console.log($('.'+ section + '-expand'))
    };


    $(document).on('click', '.expand-academics', function(){
      // expand('academics');
       console.log('it worked')
       $('.academics-expand').toggleClass('hidden')
       $('.expand-academics').toggleClass('rotate')
    });
    $(document).on('click', '.expand-recreations', function(){
      // expand('recreations');
       console.log('it worked')
       $('.recreations-expand').toggleClass('hidden')
       $('.expand-recreations').toggleClass('rotate')
    });
    $(document).on('click', '.expand-campus', function(){
      // expand('campus');
      console.log('it worked')
      $('.campus-expand').toggleClass('hidden')
      $('.expand-campus').toggleClass('rotate')
    });
    $(document).on('click', '.expand-summer', function(){
      $('.summer-expand').toggleClass('hidden')
      $('.expand-summer').toggleClass('rotate')
    });
  });  
  
</script>