<p id="notice"><%= notice %></p>
<div class="container" id="all-schools">
  <div id="compare-space">
    <%= render 'compare_list'%>
  </div>
  <div class="search-space">
    <h1>Listing Schools</h1>
    <input type="text" id="slider-min" class="field--quarter"><!--
    *--><input type="text" id="slider-max" class="field--quarter"><!--
    *--><div class="field--half last">
      <div id="slider"></div>
    </div>
  </div>


    <%= params[:is_checked] %>


        <div class="school-listing">
          <% @schools.each do |school| %>
          <div class="school-listing-item">
            <div class="selector"> 
              <%= check_box_tag(:compare, value=school.id, checked = false, class: 'check')%>
            </div><!--
            *--><div class="quick-info">
              <h2><%= school.name %></h2>
              <p><%= school.street_address %></p>
              <p><%= school.city.name %>, <%= school.city.province.name%>, <%= school.postal_code %></p>
              <%= link_to school.website_url, "http://#{school.website_url}" %>
              <%= link_to 'View Full Profile', school %>
            </div><!--
            *--><div class="quick-stats">
              <ul>
                <li>Campus Size: <span><%= school.campus_size%></span></li>
                <li>Year Founded: <span><%= school.year_founded %></span></li>
                <li>Student Body: <span><%= school.student_body_size %></span></li>
                <li>Boys: <span><%= school.total_boys%></span></li>
                <li>Girls: <span><%= school.total_girls%></span></li>
                <li>Boarding Grades: <span><%= school.boarding_grades%></span></li>
                <li>Day Grades: <span><%= school.day_grades%></span></li>
              </ul>
            </div>
            </div>
         <% if user_signed_in? %>
          <%= link_to 'Edit', edit_school_path(school) %>
          <%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %>
         <% end %> 
        <% end %>
      </div>   
   


    <button class="compare-btn">Compare</button>
    <br>
  <%= link_to 'New School', new_school_path %>
  </div>
</div>
<script>
var slider = document.getElementById('slider');

  noUiSlider.create(slider, {
    start: [0, 2000],
    step: 1,
    connect: true,
    range: {
      'min': 0,
      'max': 2000
    }
  });

  var inputNumber = document.getElementById('input-number');

slider.noUiSlider.on('update', function( values, handle ) {
  var num = slider.noUiSlider.get()
  var min = Math.floor(num[0])
  var max = Math.floor(num[1])
   
  $('#slider-min').attr('value', min)
  $('#slider-max').attr('value', max)
});

</script>

<script>
$(document).ready(function() {
  var checked_array = []
  $('.check').on('change', function(){
    checked_array = []
    console.log("changed")
    console.log($(this).is(':checked'))

    if ($('.check').filter(':checked').length > 3){
      $(this).removeAttr('checked');
    }

    $('.check').filter(':checked').each(function() {
      checked_array.push(this.value)
    });

    console.log(checked_array)

  });

  $('.compare-btn').on('click', function(){

    console.log("sending this: " +checked_array)
    console.log($('.compare-modal'))
      $.ajax({
        url: 'schools',
        type: "get",
        data: { 
          is_checked : checked_array
        },
        dataType: "script"
      });



    
  });


          console.log("saved?")
    });
</script>