<p id="notice"><%= notice %></p>
<div class="container" id="all-schools">
  <div id="compare-space">
    <%= render 'compare_list'%>
  </div>

  <h1>Search Form</h1>
  <%= form_tag(schools_path, :method => "get", remote: true, class: "navbar-form", id: "search-form") do %>
    <div class="input-append inline-block">
      <%= label_tag :province %>
      <%= select_tag :province, options_from_collection_for_select(@provinces.order('name ASC').all, :id, :name,), prompt: "any", :class => "inline-block functional_area_filter" %>
      <br>

      <%= label_tag :student_body%>
       <%= select_tag :student_body, options_for_select(School::STUDENT_BODY.map { |s| [s.humanize, s]},), :class => "inline-block functional_area_filter" %>  
        <br>
       <%= label_tag :international_baccalaureate%>
       <%= select_tag :international_bac, options_for_select(School::TRUE_FALSE.map { |s| [s.humanize, s]},), :class => "inline-block functional_area_filter" %>
      <br>
      <%= label_tag :advanced_placement%>
       <%= select_tag :advanced_placement, options_for_select(School::TRUE_FALSE.map { |s| [s.humanize, s]},), :class => "inline-block functional_area_filter" %>
      <br>
      <h3>Number of Students</h3>
         <div class="search-space">
           <%= text_field_tag 'slider_min', nil, class: 'field--quarter' %><!--*--><%= text_field_tag 'slider_max', nil, class: 'field--quarter' %><!--*--><div class="field--half last">
             <div id="slider"></div>
           </div>
         </div>
  <br>
      <%= submit_tag 'Search', remote: true%>
      <input class="btn btn-default submit-search" value="Submit" type="submit"></input>
    </div>
  <% end %>
  <hr>

  <div class="content">
    <h1>Listing Schools</h1>



    <%= params[:is_checked] %>

    <div id="schools-listing">
      <%= render 'schools_listing'%>
    </div>


        

   


    <button class="compare-btn">Compare</button>
    <br>
  <%= link_to 'New School', new_school_path %>
  </div>
</div>
<script>
var slider = document.getElementById('slider');

  noUiSlider.create(slider, {
    start: [0, 2000],
    step: 1,
    connect: true,
    range: {
      'min': 0,
      'max': 2000
    }
  });

  var inputNumber = document.getElementById('input-number');

slider.noUiSlider.on('update', function( values, handle ) {
  var num = slider.noUiSlider.get()
  var min = Math.floor(num[0])
  var max = Math.floor(num[1])
   
  $('#slider_min').attr('value', min)
  $('#slider_max').attr('value', max)
});

</script>



<script>
$(document).ready(function() {
  var checked_array = []
  $('.check').on('change', function(){
    checked_array = []
    console.log("changed")
    console.log($(this).is(':checked'))

    if ($('.check').filter(':checked').length > 3){
      $(this).removeAttr('checked');
    }

    $('.check').filter(':checked').each(function() {
      checked_array.push(this.value)
    });

    console.log(checked_array)

  });

  $('.compare-btn').on('click', function(){

    console.log("sending this: " +checked_array)
    console.log($('.compare-modal'))
      $.ajax({
        url: 'schools',
        type: "get",
        data: { 
          is_checked : checked_array
        },
        dataType: "script"
      });



    
  });


          console.log("saved?")
    });
</script>