
<div class="" id="all-schools">

  <div class="search-space">
    <h2>Find Your School</h2>
    <div class="quick-search">
      <%= form_tag(schools_path, :method => "get", remote: true, class: "navbar-form", id: "search-form") do %>
      <div class="option">
        <label for="province">I want to go to a school in</label>
        <%= select_tag :province, options_from_collection_for_select(@provinces.order('name ASC').all, :id, :name,0), prompt: "Any Province", :class => "inline-block functional_area_filter" %>
      </div>
      <div class="option">
        <p class="slider-text">My school should be between <%= text_field_tag 'slider_min', nil, class: 'select-num' %> and  <%= text_field_tag 'slider_max', nil, class: 'select-num' %> students</p><!--  
        *--><div id="slider"></div>
      </div> 
      <div class="option">
        <label for="student_body">The student body should be</label>
        <%= select_tag :student_body, options_for_select(School::STUDENT_BODY.map { |s| [s.humanize, s]},), :class => "inline-block functional_area_filter" %>  
      </div>
      <p class="show-advanced-search option">Show Advanced Options</p>
    </div>
    <div class="advanced-search hidden">
      <div class="option">
       <%= label_tag :international_baccalaureate%>
       <%= select_tag :international_bac, options_for_select(School::TRUE_FALSE.map { |s| [s.humanize, s]},), :class => "inline-block functional_area_filter" %>
      </div> 
      <div class="option">
      <%= label_tag :advanced_placement%>
       <%= select_tag :advanced_placement, options_for_select(School::TRUE_FALSE.map { |s| [s.humanize, s]},), :class => "inline-block functional_area_filter" %>
      </div> 
      <p class="hide-advanced-search option">Hide Advanced Options</p>
    </div>  
      <%= submit_tag 'Search', remote: true, id: 'editor' %>
      <a href="#" id="reset-form">Reset</a>
  <% end %>
  </div>
  <hr>

  <div class="content">

    <%= params[:is_checked] %>


    <div id="schools-listing">
      <%= render 'schools_listing'%>
    </div>


    <button class="compare-btn">Compare</button>
  <% if user_signed_in? %>
  <%= link_to 'New School', new_school_path %>
  <% end %>

    

  </div>
</div>
<script>
var slider = document.getElementById('slider');

  noUiSlider.create(slider, {
    start: [0, 2000],
    step: 1,
    connect: true,
    range: {
      'min': 0,
      'max': 2000
    }
  });

  var inputNumber = document.getElementById('input-number');

slider.noUiSlider.on('update', function( values, handle ) {
  var num = slider.noUiSlider.get()
  var min = Math.floor(num[0])
  var max = Math.floor(num[1])
   
  $('#slider_min').attr('value', min)
  $('#slider_max').attr('value', max)
});

$('#slider_min, #slider_max').on('change', function(){
  num = $(this).val()
  slider.noUiSlider.set(num)
})

</script>



<script>
$(document).ready(function() {
  var checked_array = []

// $("#editor").on("ajax:success", function(event, data, status, xhr) {
//   console.log("ajax success!")
//   $("#editor").html($(data).find("#editor").html());
// });

$(document).on('click', '#reset-form', function(e){
  e.preventDefault();
  $('#search-form')[0].reset();
});

$(document).on('change', '.check', function(){
    checked_array = []
    console.log("changed")
    console.log($(this).is(':checked'))

    if ($('.check').filter(':checked').length > 3){
      $(this).removeAttr('checked');
    }

    $('.check').filter(':checked').each(function() {
      checked_array.push(this.value)
    });

    console.log(checked_array)
});


  $('.compare-btn').on('click', function(){

    console.log("sending this: " +checked_array)
    console.log($('#compare'))
      $.ajax({
        url: 'schools',
        type: "get",
        data: { 
          is_checked : checked_array
        },
        dataType: "script"
      });



    
  });


          console.log("saved?")
});
</script>

<script>
  $('.show-advanced-search').on('click', function(){
    $(this).css('display', 'none')
    $('.advanced-search').removeClass('hidden')

  });

  $('.hide-advanced-search').on('click', function(){
    $('.advanced-search').addClass('hidden')
    $('.show-advanced-search').css('display', 'block')
  })
</script>
