<p id="notice"><%= notice %></p>
<div class="container" id="single-school">
  <div class="school-single__profile">
    <div class="school-single__summary">
      <h2><%= @school.name %></h2>
      <p><%= @school.street_address %></p>
      <p><%= @school.city.name %>, <%= @school.city.province.name%>, <%= @school.postal_code %> (<a href="https://www.google.ca/maps/place/<%= @school.street_address %>,+<%= @school.city.name %>,+<%= @school.city.province.name%>+<%= @school.postal_code %>" target="_blank">View map</a>)</p>
      <%= link_to @school.website_url, "http://#{@school.website_url}" %>
      <p><%= @school.student_body %></p>
    </div>  

    <p>
      <%= @school.description %>
    </p>

    <p>
      <strong>Contact email:</strong>
      <%= @school.contact_email %>
    </p>


    <p>
      <strong>Girls boarding:</strong>
      <%= @school.girls_boarding %>
    </p>

    <p>
      <strong>Girls day:</strong>
      <%= @school.girls_day %>
    </p>

    <p>
      <strong>Boys boarding:</strong>
      <%= @school.boys_boarding %>
    </p>

    <p>
      <strong>Boys day:</strong>
      <%= @school.boys_day %>
    </p>

    <p>
      <strong>Campus size:</strong>
      <%= @school.campus_size %>
    </p>

    <p>
      <strong>Year founded:</strong>
      <%= @school.year_founded %>
    </p>

    <p>
      <strong>Average class size:</strong>
      <%= @school.average_class_size %>
    </p>

    <p>
      <strong>Student teacher ratio:</strong>
      <%= @school.student_teacher_ratio %>
    </p>

    <p>
      <strong>Dress code:</strong>
      <%= @school.dress_code %>
    </p>



    <p>
      <strong>Seven day tuition:</strong>
      <%= number_to_currency(@school.seven_day_tuition)  %>
    </p>

    <p>
      <strong>Five day tuition:</strong>
      <%= number_to_currency(@school.five_day_tuition) %>
    </p>

    <p>
      <strong>Boarding grades:</strong>
      <%= @school.boarding_grades %>
    </p>

    <p>
      <strong>Day grades:</strong>
      <%= @school.day_grades %>
    </p>

    <p>
      <strong>Day tuition:</strong>
      <%= number_to_currency(@school.day_tuition) %>
    </p>

    <p>
      <strong>Accreditations:</strong>
      <%= @school.accreditations %>
    </p>

    <p>
      <strong>Advanced placement:</strong>
      <%= @school.advanced_placement %>
    </p>

    <p>
      <strong>International bac:</strong>
      <%= @school.international_bac %>
    </p>

    <p>
      <strong>Payment plans:</strong>
      <%= @school.payment_plans %>
    </p>

    <p>
      <strong>Need based aid:</strong>
      <%= @school.need_based_aid %>
    </p>

    <p>
      <strong>Merit scholarships:</strong>
      <%= @school.merit_scholarships %>
    </p>

    <div>
      <h2>Academics</h2>
      <ul>
      <% @school.amenity_type(@school, "academics").each do |a|%>
          <li> <h3><%= a.academic.subject %></h3> </li>
          <ul>
            <% @school.amenity_detail_list(@school, "academics", a.academic.id).each do |detail|%>
            <li><%= detail.academic.course %></li>
            <% end %>
          </ul>
      <% end %>
      </ul>

      <h2>Recreations</h2>
      <ul>
      <% @school.amenity_type(@school, "recreations").each do |a|%>
          <li> <h3><%= a.recreation.recreation_type %></h3> </li>
          <ul>
            <% @school.amenity_detail_list(@school, "recreations", a.recreation.id).each do |detail|%>
            <li><%= detail.recreation.activity %></li>
            <% end %>
          </ul>
      <% end %>
      </ul>

      <h2>Campus</h2>
      <ul>
      <% @school.amenity_type(@school, "campus").each do |a|%>
          <li> <h3><%= a.campu.campu_type %></h3> </li>
          <ul>
            <% @school.amenity_detail_list(@school, "campus", a.campu.id).each do |detail|%>
            <li><%= detail.campu.feature %></li>
            <% end %>
          </ul>
      <% end %>
      </ul>
    </div>
    
  </div>  
</div>  

<%= link_to 'Back', schools_path %>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_school_path(@school) %> 
<% end %>
