<p id="notice"><%= notice %></p>


<div class="container" id="single-school">
  <div class="school-single__profile">
    <div class="school-single__summary field--half">
      <h2><%= @school.name %></h2>
      <p><%= @school.street_address %></p>
      <p><%= @school.city.name %>, <%= @school.city.province.name%>, <%= @school.postal_code %> (<a href="https://www.google.ca/maps/place/<%= @school.street_address %>,+<%= @school.city.name %>,+<%= @school.city.province.name%>+<%= @school.postal_code %>" target="_blank" class="map-link">View map</a>)</p>
      <%= link_to @school.website_url, "http://#{@school.website_url}" %>
      <p><%= @school.student_body %>, <%= @school.religion %></p>
    </div><!--
    *--><div class="school-single__logo field--half last">
      <% if @school.logo_image_url.present? %>
      <%= image_tag 'http://drive.google.com/uc?export=view&id=' + @school.logo_image_url %>
      <% end %>
    </div>

    <p>
      <%= @school.description %>
    </p>
    <% if @school.video_url.present? %>
    <div class="video">
      <iframe width="560" height="315" src="<%= @school.video_url%>" frameborder="0" allowfullscreen></iframe>
    </div>
    <% end %>
    <div class="school-single__details">
      <p>Contact email: <span><%= @school.contact_email %></span></p>


      <p>Girls boarding: <span><%= @school.girls_boarding %></span></p>

      <p>Girls day: <span><%= @school.girls_day %></span></p>

      <p>Boys boarding: <span><%= @school.boys_boarding %></span></p>

      <p>Boys day: <span><%= @school.boys_day %></span></p>

      <p>Campus size: <span><%= @school.campus_size %></span></p>

      <p>Year founded: <span><%= @school.year_founded %></span></p>

      <p>Average class size: <span><%= @school.average_class_size %></span></p>

      <p>Student teacher ratio: <span><%= @school.student_teacher_ratio %></span></p>

      <p>Dress code: <span><%= @school.dress_code %></span></p>

      <p>Seven day tuition: <span><%= number_to_currency(@school.seven_day_tuition)  %></span></p>

      <p>Five day tuition: <span><%= number_to_currency(@school.five_day_tuition) %></span></p>

      <p>Boarding grades: <span><%= @school.boarding_grades %></span></p>

      <p>Day grades: <span><%= @school.day_grades %></span></p>

      <p>
        Day tuition:
        <span><%= number_to_currency(@school.day_tuition) %></span>
        
      </p>

      <p>Accreditations: <span><%= @school.accreditations %></span></p>

      <p>Pre-Grade Nine Boarding: <span><%= @school.pre_grade_nine_boarding %></span></p>
      <p>Advanced placement: <span><%= @school.advanced_placement %></span></p>

      <p>International bac: <span><%= @school.international_bac %></span></p>
      <p>ESL: <span><%= @school.esl %></span></p>

      <p>Payment plans: <span><%= @school.payment_plans %></span></p>

      <p>Need based aid: <span><%= @school.need_based_aid %></span></p>

      <p>Merit scholarships: <span><%= @school.merit_scholarships %></span></p>
    </div>  
    <div class="expand-details">
      <% if @school.amenity_type(@school, "academics").exists? %>
      <h3>Academics <span class="expand-academics">&#9660;</span></h3>
      <ul class="academics-expand expanded hidden">
      <% @school.amenity_type(@school, "academics").each do |a|%>
          <li class="expand-title"> <h4><%= a.academic.subject %></h4> </li>
          <ul>
            <% @school.amenity_detail_list(@school, "academics", a.academic.id).each do |detail|%>
            <li><%= detail.academic.course %></li>
            <% end %>
          </ul>
      <% end %>
      </ul>
      <% end %>
      <% if @school.amenity_type(@school, "recreations").exists? %>
      <h3>Recreations <span class="expand-recreations">&#9660;</span></h3>
      <ul class="recreations-expand expanded hidden">
      <% @school.amenity_type(@school, "recreations").each do |a|%>
          <li class="expand-title"> <h4><%= a.recreation.recreation_type %></h4> </li>
          <ul>
            <% @school.amenity_detail_list(@school, "recreations", a.recreation.id).each do |detail|%>
            <li><%= detail.recreation.activity %></li>
            <% end %>
          </ul>
      <% end %>
      </ul>
      <% end %>

       <% if @school.amenity_type(@school, "campus").exists? %>
      <h3>Campus <span class="expand-campus">&#9660;</span></h3>
      <ul class="campus-expand expanded hidden">
      <% @school.amenity_type(@school, "campus").each do |a|%>
          <li class="expand-title"> <h4><%= a.campu.campu_type %></h4> </li>
          <ul>
            <% @school.amenity_detail_list(@school, "campus", a.campu.id).each do |detail|%>
            <li><%= detail.campu.feature %></li>
            <% end %>
          </ul>
      <% end %>
      </ul>
      <% end %>
      <% if @school.summer_programs %>
      <h3>Summer Programs <span class="expand-summer">&#9660;</span></h3>
      <div class="summer-expand expanded hidden">
        <%= @school.summer_programs %>
      </div>
      <% end %>
    </div>
    
  </div>  
</div>  

<%= link_to 'Back', schools_path %>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_school_path(@school) %> 
<% end %>

<script>
  $(document).on('ready page:load', function(){
    function expand(section){
      $('.'+ section + '-expand').toggleClass('hidden')
      console.log($('.'+ section + '-expand'))
    };


    $(document).on('click', '.expand-academics', function(){
      // expand('academics');
       console.log('it worked')
       $('.academics-expand').toggleClass('hidden')
       $('.expand-academics').toggleClass('rotate')
    });
    $(document).on('click', '.expand-recreations', function(){
      // expand('recreations');
       console.log('it worked')
       $('.recreations-expand').toggleClass('hidden')
       $('.expand-recreations').toggleClass('rotate')
    });
    $(document).on('click', '.expand-campus', function(){
      // expand('campus');
      console.log('it worked')
      $('.campus-expand').toggleClass('hidden')
      $('.expand-campus').toggleClass('rotate')
    });
    $(document).on('click', '.expand-summer', function(){
      $('.summer-expand').toggleClass('hidden')
      $('.expand-summer').toggleClass('rotate')
    });
  });  
  
</script>
