<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @school.street_address %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @school.postal_code %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @school.website_url %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @school.contact_email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @school.description %>
</p>

<p>
  <strong>Girls boarding:</strong>
  <%= @school.girls_boarding %>
</p>

<p>
  <strong>Girls day:</strong>
  <%= @school.girls_day %>
</p>

<p>
  <strong>Boys boarding:</strong>
  <%= @school.boys_boarding %>
</p>

<p>
  <strong>Boys day:</strong>
  <%= @school.boys_day %>
</p>

<p>
  <strong>Campus size:</strong>
  <%= @school.campus_size %>
</p>

<p>
  <strong>Year founded:</strong>
  <%= @school.year_founded %>
</p>

<p>
  <strong>Average class size:</strong>
  <%= @school.average_class_size %>
</p>

<p>
  <strong>Student teacher ratio:</strong>
  <%= @school.student_teacher_ratio %>
</p>

<p>
  <strong>Dress code:</strong>
  <%= @school.dress_code %>
</p>

<p>
  <strong>Student body:</strong>
  <%= @school.student_body %>
</p>

<p>
  <strong>Seven day tuition:</strong>
  <%= @school.seven_day_tuition %>
</p>

<p>
  <strong>Five day tuition:</strong>
  <%= @school.five_day_tuition %>
</p>

<p>
  <strong>Boarding grades:</strong>
  <%= @school.boarding_grades %>
</p>

<p>
  <strong>Day grades:</strong>
  <%= @school.day_grades %>
</p>

<p>
  <strong>Day tuition:</strong>
  <%= @school.day_tuition %>
</p>

<p>
  <strong>Accreditations:</strong>
  <%= @school.accreditations %>
</p>

<p>
  <strong>Advanced placement:</strong>
  <%= @school.advanced_placement %>
</p>

<p>
  <strong>International bac:</strong>
  <%= @school.international_bac %>
</p>

<p>
  <strong>Payment plans:</strong>
  <%= @school.payment_plans %>
</p>

<p>
  <strong>Need based aid:</strong>
  <%= @school.need_based_aid %>
</p>

<p>
  <strong>Merit scholarships:</strong>
  <%= @school.merit_scholarships %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
