
<table class="admin-table">
  <thead>
    <tr>
      <th>Used</th>
      <th>Name</th>
      <th>Province</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= School.where(city_id: city.id).count%> times</td>
        <td><%= city.name %></td>
        <td><%= city.province.name %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><% if School.where(city_id: city.id).count == 0 %>
          <%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


