<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @info.description %>
</p>

<p>
  <strong>Department director:</strong>
  <%= @info.department_director %>
</p>

<p>
  <strong>Percentage at college:</strong>
  <%= @info.percentage_at_college %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
