<ul class="sidebar">
	<li><%= image_tag 'why-boarding.png'%></li>	
	<li><%= image_tag 'find-your-school.png'%></li>
	<li><%= image_tag 'myths-busted.png'%></li>
	<li><%= image_tag 'ask-us.png'%></li>
	<li><%= image_tag 'your-catalogue.png'%></li>
</ul>