<ul class="sidebar">
	<li><a href="http://boardingschools.ca/about-boarding-in-canada"><%= image_tag 'why-boarding.png'%></a></li>
	<li><a href="http://boardingschools.ca/why-canada"><%= image_tag 'why-board-in-canada.png'%></a></li>
	<li><a href="http://boardingschools.ca/events"><%= image_tag 'upcomming-events.png'%></a></li>	
	<li><a href="http://boardingschools.ca/why-canada"><%= image_tag 'find-your-school.png'%></a></li>
	<li><a href="http://boardingschools.ca/"><%= image_tag 'ask-us.png'%></a></li>
	<li><a href="http://boardingschools.ca/"><%= image_tag 'your-catalogue.png'%></a></li>
</ul>
