<!DOCTYPE html>
<html>
<head>
  <title>CAIS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div id="flash">
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
	</div>
	<p class="navbar-text pull-right login-bar">
	<% if user_signed_in? %>
	  Logged in as <strong><%= current_user.email %></strong>.
	  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
	  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
	  <%= link_to "Admin", admin_path, class: 'navbar-link'%>
	<% else %>
	  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
	<% end %>

	<div class="main-navigation">
		<div class="container">
			<%= render 'layouts/navigation'%>
		</div>	
	</div>
	<div class="container">
		<div id="compare-space" class="hidden">
		  <%= render 'schools/compare_list'%>
		</div>
	</div>
	<div class="container page-content">
		<div class="main-section">
			<%= yield %>
		</div><!--
		*--><div class="sidebar-section">
			<%= render 'layouts/sidebar'%>	
		</div>
	</div>
	<div class="footer">
		<%= render 'layouts/footer' %>
	</div>


</body>
</html>

<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('#flash').remove();
    }, 2000);
   })
</script>
